*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
}

a{
    text-decoration: none;
    color: #007AFF;
}

h1{
    margin: 128px 277px 12px 16px;
    font-weight: 500;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: 0.41px;
    color: #000000;
}

p{
    margin: 0 16px 102px 16px;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.41px;
    color: rgba(0, 0, 0, 0.5);

}

.input-email{
    display: block;
    border: none;
    background: #F2F2F7;
    border-radius: 6px;
    Width: 329px;
    Height: 48px;
    margin: 0 16px 12px 16px;
    

}

.input-email::placeholder{
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: #929292;
    padding: 13px 291px 13px 13px;


}

.input-password{
    display: block;
    border: none;
    background: #F2F2F7;
    border-radius: 6px;
    Width: 329px;
    Height: 48px;
    margin: 0 16px 17px 16px;
}

.input-password::placeholder{
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: #929292;
    padding: 13px 291px 13px 13px;
}

.forgot{
    display: block;
    font-size: 16px;
    line-height: 22px;
    text-align: end;
    margin-right: 16px;
    letter-spacing: -0.41px;
    color: #007AFF;
    
}

.button{
    margin: 20px 16px 204px 16px;
    width: 329px;
    height: 48px;
    background: rgba(0, 0, 0, 0.94);
    border-radius: 10px;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.41px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3{
    margin: 0 auto 39px auto;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.51);
    
}

